.home-page {
    position: relative;
  }
  
  .background-image {
    width: 100%;
    height: auto;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Couleur du texte */
  }
  
  .title {
    font-size: 2.5rem; /* Taille de la police du titre */
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.5rem; /* Taille de la police du sous-titre */
  }
  